*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cartas{
    width: 600;
    background-color: white;
   margin: 50px;
   padding: 20px;
  text-align: center;
}
div img:hover{
    scale: 1.1;
}
.header{
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
   padding: 10px;
}
nav ul li{
    display: inline;
    list-style: none;
}
nav a{
    color: white;
}
nav a:hover{
    color: aqua;
}
.centro{
    text-align: center;
}
.contenedorpadre{
background-color: color white;
display: flex;
flex-wrap: wrap;
}

.fondo{
    background-color: gainsboro;
    margin: 50px;
    padding: 10px 50px;
    text-align: justify;
}
.tipografia{
    font-family: "Share Tech", sans-serif;
  font-weight: 400;
}
footer{
    background-color: black;
    color: white;
    padding: 30px;
    flex-wrap: wrap;
}

footer ul li{
    list-style: none;
}
footer li:hover{
    color: aqua;
}
.cartasfooter{
    background-color: black;
}
.contenedorpadrefooter{
    display: flex;
    justify-content: space-around;
    }
    .ofertas{
        text-decoration: line-through;
    }
    footer ul li a{
        color: white;
        text-decoration: none;
    }
    footer ul li a:hover{
        color: aqua;
    }




/*--------grila1----------*/
.padre {
max-width: 1600px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

.div1 { grid-area: 1 / 1 / 2 / 7; 
}
.div1 img{
    width: 100%;
}
.div2 { grid-area: 2 / 1 / 7 / 3; 
}
.div2 img{
    width: 100%;
}
.div3 { grid-area: 2  / 3 / 7 / 5; 
}
.div3 img{
    width: 100%;
}
.div4 { grid-area: 2 / 5 / 7 / 7; 
}
.div4 img{
    width: 100%;
}